#### KNN approach

In [25]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

songs = pd.read_csv("songData.csv", index_col=0)
print("Songs Dataframe\n",songs.head())

table = songs.pivot_table(index="'userID'", columns="'songID'", values="'rating'", fill_value=0)
print("Pivoted Table\n",table.tail())

Songs Dataframe
    'userID'  'songID'  'rating'
0         0      7171         5
1         0      8637         4
2         0     21966         4
3         0     35821         5
4         0     82446         5
Pivoted Table
 'songID'  4       9       12      34      37      45      66      69      \
'userID'
1995         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1996         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1997         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1998         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1999         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

'songID'  94      98      ...  136639  136656  136682  136686  136697  136699  \
'userID'                  ...
1995         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
1996         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
1997         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
1998         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
1999         0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0

'songID'  136714  136716  136719  136728
'userID'
1995         0.0     0.0     0.0     0.0
1996         0.0     0.0     0.0     0.0
1997         0.0     0.0     0.0     0.0
1998         0.0     0.0     0.0     0.0
1999         0.0     0.0     0.0     0.0

[5 rows x 12709 columns]

In [26]:
from sklearn.neighbors import NearestNeighbors

# automatically computes cosine similarity so need to do seperately if want to do seperately then its a diff method
knn = NearestNeighbors(metric="cosine", algorithm="brute")
knn.fit(table)
distance, neighbors = knn.kneighbors(table, n_neighbors=5)
neighbors

array([[   0,  587, 1563,  161, 1351],
       [   1,   81, 1496, 1412, 1417],
       [   2,   43,  220,  223,  580],
       ...,
       [1997,   14, 1013,  491,  941],
       [1998, 1709, 1982, 1776, 1251],
       [1999,  345,  750,  861,  100]], dtype=int64)

In [27]:
# lets find the recomendation

def similar_users(user_id, similarity_matrix, top_n=4):
    return list(similarity_matrix[user_id][:top_n])
    
similar_users(500,neighbors)

[500, 1404, 1449, 712]

#### Cosine similarity approach

In [28]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

songs = pd.read_csv("songData.csv", index_col=0)
print("Songs Dataframe\n",songs.head())

table = songs.pivot_table(index="'userID'", columns="'songID'", values="'rating'", fill_value=0)
user_matrix = cosine_similarity(table)
user_matrix_df = pd.DataFrame(user_matrix, index=table.index, columns=table.index)
user_matrix_df.head()

Songs Dataframe
    'userID'  'songID'  'rating'
0         0      7171         5
1         0      8637         4
2         0     21966         4
3         0     35821         5
4         0     82446         5

'userID',0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
'userID',,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# lets find the recomendation

def similar_users(user_id, similarity_df, top_n=4):
    return list(similarity_df[user_id][:top_n])
    
similar_users(500,neighbors)

[500, 1404, 1449, 712]